body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

header, footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #333;
    color: white;
}

header p, footer p{
    flex: 1;
    text-align: center;
}

h1, h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
}

header a{
    text-align: center;
    color: #f4f4f4;
}

.post_detail_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.img_div {
    width: 500px;
}

.categories{
    display: inline-flex;
}

.categories ul{
    display: inline-flex;
}

.categories li{
    margin: 0px 4px;
}